# Exclude non-production files from the packaged .vsix extension:
.vscode/**
.vscode-test/**
node_modules/**
src/**
test-files/**
TECHNICAL_DOCUMENTATION.md
*.vsix
.eslintrc.json
.gitignore
tsconfig.json
**/*.map
out/test/**
